.waste__management_wrapper {
    padding: 0 15px;
    padding-bottom: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.post__list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add__post_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    &>button {
        padding: 26px 20%;
        border-radius: 45px;
        border: none;
        outline: none;
        background: rgba(67, 109, 72, 1);
        font-size: 32px;
        color: #fff;
        cursor: pointer;
    }
}

.like__post {
    cursor: pointer;
}

.editor__link_icon {
    cursor: pointer;
}

.delete__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -12px;
    &>img {
        cursor: pointer;
    }
}

.search__input {
    padding: 15px 10px;
    border-radius: 15px;
    border: none;
    width: 40%;
    outline: none;
    font-size: 18px;
}

@media only screen and (max-width: 700px) {
    .add__post_wrapper > button {
        padding: 15px 20%
    }
}

@media only screen and (max-width: 750px) {
    .search__input {
        width: 70%;
    }
}